body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-image: url(./header-mountains.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: rgba(111, 117, 139, 0.6);
  color: white;
}

.present {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

.future {
  background-color: rgba(76, 175, 80, 0.7);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#font-large {
  font-size: 2rem;
  font-style: italic;
}

.font-larger {
  font-size: 3rem;
  font-weight: bolder;
}

textarea {
  font-weight: bold;
}

#fixedpos {
  position: fixed;
  top: 10px;
  left: 30px;
  color: black;
}

#anchor {
  color: black;
}

#camera-icon {
  height: 50px;
  width: 50px;
}

#hidden-p {
  display: none;
}

#anchor:hover {
  #hidden-p {
    display: inline;
    text-align: center;
  }
}
